<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title><%=nowchat.name%></title>
        <meta name="viewport" content="width=device-width">


        <link rel="stylesheet" href="css/main.css">
        </head>
    <body>
        <div class="header">
            <a href="/" class="head">イラスト掲示板</a>
        </div>
        <div class="sub">
            <div class="make">
                <a href="/make">テーマの投稿</a>
            </div>
            <ul>
                <% for(var i in chats) { %>
                    <li><a href="/ch<%-chats[i].item_id%>"><%=chats[i].name%></a></li>
                <% } %>
            </ul>
        </div>
        <div class="main">
            <div class="title"><%=nowchat.name%></div>
            <% for(var i in images) { %>
                <div class="box1">
                    <div class="font-zone">
                        <b><font color="green"><%- i %>.</font><%=images[i].name%>-<%=images[i].title%>-<%=images[i].update_date%></b>
                    </div>
                    <div class="image-zone">
                        <img src="images/<%=images[i].image_name%>">
                    </div>
                </div>
            <% } %>
            <div class="box2">
                <form action="/upload_contents" method="post" enctype = "multipart/form-data">
                    <div class="fields-group">
                        <input type="hidden" name="chat_id" value="<%=nowchat.item_id%>">
                        <div class="fields"><input type="text" class="inputfield" name="name" placeholder="名前"></div>
                        <div class="fields"><input type="text" class="inputfield" name="title" placeholder="タイトル"></div>
                        <input type="file" name="file"  accept="image/*">
                    </div>
                    <input type="submit" class="submit-button" value="送信">
                </form>
            </div>
        </div>
    </body>
</html>
